@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* 영화 보여주기에서 */
.INLINE_BOX {
  display: -webkit-inline-box;

  /* &::-webkit-scrollbar {
    display: none;
  } */
}

.custom_input {
  @apply block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
  focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
  invalid:border-pink-500 invalid:text-pink-600
  focus:invalid:border-slate-300 focus:invalid:ring-slate-300;
}

.custom_button {
  @apply w-full bg-sky-500 hover:bg-sky-700 px-5 py-2.5 text-sm leading-5 rounded-md font-semibold text-white cursor-pointer disabled:bg-sky-800;
}

.custom_button_cancel {
  @apply w-full bg-slate-200 hover:bg-slate-300 px-5 py-2.5 text-sm leading-5 rounded-md font-semibold text-gray-600 cursor-pointer disabled:bg-slate-200 disabled:text-gray-400;
}
